@model IEnumerable<BookStore.Models.Category>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<form asp-action="Index">
    <p>
        <input type="text" name="queryString" />
        <input type="submit" name="Search" value="Search" />
    </p>
</form>

@if (SignInManager.IsSignedIn(User)){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Filter" asp-route-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
